/* Importação de fontes  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

  /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definição de rotas padrão */

.root{
    --bg-color: #FFFF;
    --secondary-color: #E30613;
    --third-color:  #a12720;

    --font-text: "Montserrat", sans-serif;
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

/* Header */

.container_header{
    background-color: #E30613;
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
}

.img_header{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.img_header img{
    width: 75%;
    height: 60%;
}

.division_header{
    background-color: white;
    width: 0.2%;
    height: 53%;
    display: flex;  
}

.nav_header{
    display: flex;
    flex-direction: row;
    gap : 10%;
    width: 60%;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 80%;
    list-style: none;
}

.nav_header a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: var(--p-font);
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    
}

/* Sobre Nós */

.container_banner{
    background-color: var(--bg-color);
    height: 50rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding: 0.3rem;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('../media/img/fundoESTAGIOS3.png');
    background-size:cover;
    background-position: bottom center;
}

/* Conteúdo do Banner */
.banner_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 7%;
    margin-top: 20%;
}
.banner_content h1{
    font-size: 5.1rem;
    font-family: "Montserrat", sans-serif;
    justify-content: flex-start;
    font-weight: 900;
    color: #FFFF;
    line-height: 1.2;
}

.banner_title h1 span{
    color: #E30613;
}


/* Conteúdo do Banner */

.banner_text{
    width: 78%;
    height: 100%;
    display: flex;

}
.banner_text p{
    font-family:"Montserrat", sans-serif ;
    font-size:1rem;
    font-weight: 450;
    color: #FFFF;
    margin-top: 3%;
    align-items: center;
}

/* Botão se inscrever */
.banner_btn{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    margin-top: 3%;
}

.banner_btn a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: var(--p-font);
    text-transform: uppercase;
    font-weight: 800;
    background-color: #E30613;
    border-radius: 0.5rem;
    color: #ffff;
}

/* Division content  */

.division{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-end;
}

.banner_division{
    width: 100%;
    height: 100%;
    background-color: #a12720;
    display: flex;
}


/* Barra de Navegação */

.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 1.5%;
}

.nav-content ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 1rem;
    
    /* padding: 1.5%; */
    /* align-items: center; */
}

.nav-content ul li a {
    width: 15rem;
    height: 3rem;
    font-family:"Montserrat", sans-serif ;
    align-items: center;
    justify-content: center;
    /* display: inline-block; */

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    padding: 13% 40%;
    font-size: 1.3rem;
    font-weight: 800;
    color: black;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Botão */
.nav-content ul li a.botao-estagios {
    background-color: #b61818;
    color: #fff;
}

.nav-content ul li a:hover {
    background-color: #868686;
    color: #000000;
}


/* Linha vermelha abaixo dos botões ativos */
.nav-division {
    margin-top: 1.5%;
    height: 4px;
    background-color: #b61818;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 1.5%;
}
/* Division content */

.division-phrase{
    height: 4px;
    background-color: #b61818;
    width: 75%;
    margin-right: auto;
    border-radius: 10px;
}

h2 {
    font-family:"Montserrat", sans-serif ;
    font-size: 1.6rem;
    font-weight: 700;
}

.content_text{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
}

.content_title{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
}

.content_title p{
    font-family:"Montserrat", sans-serif ;
    font-size:1.8rem;
    font-weight: 650;
    color: #000000;
    margin-bottom: 0.4rem;
    text-align: justify;
    font-style: uppercase;

}


.content_text p{
    font-family:"Montserrat", sans-serif ;
    font-size:1.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-weight: 450;
    color: #000000;
    margin-bottom: 3rem;
    text-align: justify;
    margin-bottom: 3rem;
    line-height: 1.6rem;
}

/* Imagem do Banner */

.content_img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.content_img img{
    border-radius: 2rem;
    width: 70%;
}

/*Footer */
footer {
    background-color: #a12720; 
    padding: 0; 
    margin: 0; 
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: relative; 
  }
  
  .social-media-container {
    background-color: #D71920; 
    padding: 10px; 
    border-radius: 5px;
    margin-bottom: -5px; 
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 20px; 
    background-color: #D71920;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% + 20px);
    margin: 0 -10px;     box-sizing: border-box; 
  }
  
  .social-icon {
    width: 50px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
  }
  .addresses {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px 0; 
  }
  
  .address {
    flex: 1;
    max-width: 300px; 
    text-align: center;
    padding: 10px; 
  }
  
  .divider {
    width: 2px;
    height: 60px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
  }

.div .content_text {
    text-align: center;
}

.banner_title{
    text-align: left;
}

.nav-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_content {
    text-align: center;
}

/* Conteúdo do Banner */
.banner_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 7%;
    margin-top: 20%;
}

.banner_content h1 {
    justify-content: justify;
    font-size: 4.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #FFFF;
    line-height: 1.2;
}

.banner_title h1 span {
    color: #E30613;
}

.banner_image{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: -1rem;
}

/* Conteúdo do Banner */
.banner_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 7%;
    margin-top: 20%;
}

.banner_content h1 {
    justify-content: justify;
    font-size: 4.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #FFFF;
    line-height: 1.2;
}

.banner_title h1 span {
    color: #E30613;
}

.banner_image{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: -1rem;
}

.banner_title p{
    color: #E30613;
}
