/* Importação de fontes  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./header.css);

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

  /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definição de rotas padrão */

:root{
    --bg-color: #FFFF;
    --secondary-color: #E30613;
    --third-color:  #a12720;
    --font-text: "Montserrat", sans-serif;

}

.montserrat {
    font-family: var(--font-text);
    font-optical-sizing: auto;
}

body {
    font-family: var(--font-text);
    line-height: 1.6;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
  }


main{
    padding: 1em;
    max-width: 1000px;
    margin: 0 auto;
}

.news-university h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;

}

.news-university .author{
    font-size: 0.9em;
    color: #333;
    margin-bottom: 1rem;
}

.video-ad iframe{
    margin-bottom: 1em;
    width: 1000px;
    height:315px;
}

.video-ad video{
    width: 100%;
    max-height: 300px;
}

.news-university .intro{
    margin: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.news-university h3{
    font-size: 1.5em;
    margin-top: 1.5em;
    color: #333;
}

.news-university .content {
    font-size: 1em;
    margin: 1em 0;
    color: #555;
    margin-bottom: 1em;
  }

  .universidade-img{
    max-height: 400px;
    object-fit: cover;
    margin: 1em 0;
  }


  /* Footer */

footer {
    background-color: #a12720; 
    padding: 0; 
    margin: 0; 
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: relative; 
  }
  
  .social-media-container {
    background-color: #D71920; 
    padding: 10px; 
    border-radius: 5px;
    margin-bottom: -5px; 
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 20px; 
    background-color: #D71920;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% + 20px);
    margin: 0 -10px;     box-sizing: border-box; 
  }
  
  .social-icon {
    width: 50px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
  }
  .addresses {
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px 0; 
    background-color: #b61818;
  }
  
  .address {
    flex: 1;
    max-width: 300px; 
    text-align: center;
    padding: 10px; 
  }
  
  .divider {
    width: 2px;
    height: 60px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
  }


  /* Para telas médias (tablet) */

  @media (min-widht: 769px) and (max-width: 1023px) {
    .container_header {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        align-items: center;
        justify-content: center;

    }
    
    .img_header {
        width: 50%;
        height: auto;
        margin-bottom: 1rem;

    }
    
    .division_header {
        display: none ;
    }
    
    .nav_header {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        align-items: flex-start;
        padding: 1rem;

    }
    
    .nav_header a {
        font-size: 1.1em;

    }

    main {
        padding: 1em;
        max-width: 90%;

    }

    .news-university h2 {
        font-size: 1.6em;
    }

    .news-university .content {
        font-size: 1em;
    }

    .universidade-img {
        max-height: 300px;
    }

    .video-ad iframe{
        width: 100%;
        height:auto;
    }

    footer .addresses {
        flex-direction: column;
        gap: 1rem;
    }

    .social-media {
        flex-direction: column;
        gap: 1rem;
    }

    .social-icon {
        width: 45px;
        height: 45px;
    }
    
  }

/* Para telas pequenas (celulares) */
@media (max-width: 768px) {
    .container_header {
        flex-direction: column;
        height: auto;
    }
    
    .img_header {
        width: 80%;
        height: auto;
        margin-bottom: 1rem;
        object-fit: cover;
    }


    .nav_header {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        align-items: flex-start;
        padding: 1rem;
    }

    .nav_header a {
        font-size: 1.2em;
    }

    .video iframe {
        display: none !important; 
    }

    main {
        padding: 0.5em;
        max-width: 100%;
    }

    .news-university h2 {
        font-size: 1.8em;
    }

    .news-university .content {
        font-size: 1em;
    }

    .universidade-img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;

    }

    footer .addresses {
        max-width: 100%;
        text-align: left;
        gap: 1rem;
        padding: 1rem;
    }

    .social-media {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .social-icon {
        width: 40px;
        height: 40px;
    }

    .social-media-container {
        margin-bottom: 0;
    }

    footer{
        font-size: 0.9rem;
        padding: 1rem;
    }
    .divider{
        display: none;
    }
}


/* Footer*/
footer {
    background-color: #a12720;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.social-media-container {
    background-color: #D71920;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: -5px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.addresses {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.address {
    flex: 1;
    max-width: 300px;
    text-align: center;
    padding: 10px;
}

