@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* Definição de rotas padrão */

.root {
  --bg-color: #FFFF;
  --secondary-color: #E30613;
  --third-color: #a12720;



  /*Tipografia*/
  --font-text: "Montserrat", sans-serif;
  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

/* Header */

.container_header {
  background-color: #E30613;
  height: 7rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
}

.img_header {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img_header img {
  width: 100%;
  height: 58%;
}

.division_header {
  background-color: white;
  width: 0.2%;
  height: 53%;
  display: flex;
}

.header-nav{
  list-style: none;
  display: flex;
  margin-left: 15rem;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li{
  height: 50px;

}

nav a{
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

nav a:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

/* nav li:first-child{
  margin-right: auto;
} */

.menuSidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(53, 53, 53, 0.9);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menuSidebar li{
  width: 100%;
}

.menuSidebar a{
  width: 100%;
}

@media(max-width: 800px){
  .hideOnMobile{
      display: none;
  }
}

@media(max-width: 400px){
  .menuSidebar{
      width: 100%;
  }
}

.banner {
  padding: 0;
  width: 100%;
  height: 55rem;
  filter: brightness(0.9);
}


.text-overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  color: white;
}


.banner-titulo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 8%;
  margin-left: 20%;
}
  

/* Barra de Navegação */

.nav-content{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1.5%;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 1rem;
  
  /* padding: 1.5%; */
  /* align-items: center; */
}

.nav-content ul li a {
  width: 15rem;
  height: 3rem;
  font-family:"Montserrat", sans-serif ;
  align-items: center;
  justify-content: center;
  /* display: inline-block; */

  display: flex;
  flex-direction: column;
  gap: 10px;
  
  padding: 13% 40%;
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
  border-radius: 30px;
  background-color: #D9D9D9;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Linha vermelha abaixo dos botões ativos */
.nav-division {
  margin-top: 1.5%;
  height: 4px;
  background-color: #b61818;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 1.5%;
}


.nav-content ul li a:hover {
  background-color: #868686;
  color: #000000;
}

  .container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
  }

 .main-new {
    width: 60%; /* Define 60% da largura para a div de texto */
    margin-right: 8%;
    border: 1% solid #ffffff;
    box-shadow: 0 0 5% #ffffff;
  }
  
  .instituicoes {
    width: 100%; 
    margin-right: 7%;
  }
  

  .section-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 5%;
  }

  .instituicoes-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: -1%;
  }


  .section-text{
    margin-bottom: 20%;
    color: black;
    line-height: 1.0;
    font-size: larger;
    max-width: 70%;
  }
  
  .sidebar {
    width: 40%; 
    height: 40%;
    background-color: #FFFF;
    padding: 2rem;
    box-shadow: 0 0.1rem 1rem #9A1915;
    margin-top: 3%;
    border-radius: 1rem;
  }


  .linha {
    width: 30%;
    border-bottom: 0.4rem solid #9A1915;
    margin-bottom: 5%;
  }

  /* Estilo para as imagens do carrossel */
  .carousel-inner img {
    width: 100%; /* Faz as imagens ocuparem toda a largura do carrossel */
    height: 15rem; /* Mantém a proporção da imagem */
    border-radius: 1rem; /* Adiciona bordas arredondadas */
  }

 
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para as legendas */
    padding: 1rem; /* Adiciona um pouco de espaçamento */
    border-radius: 1rem; /* Arredonda os cantos das legendas */
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco para os ícones */
    border-radius: 50%; /* Torna os ícones circulares */
  }

  .carousel-caption h5 {
    font-size: 1.5rem; /* Aumenta o tamanho do título */
    font-weight: bold; /* Torna o título em negrito */
  }

  .carousel-caption p {
    font-size: 1rem; /* Tamanho da fonte dos parágrafos */
  }

  /*Card de perguntas*/
.duvidas {
  max-width: 75rem;
  padding: 1.25rem;
  background-color: #9a1915;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

}

division-content {
  align-items: center;
  width: auto;
  height: 0.7rem;
  left: 58rem;
  top: 73px;
  background-color: #c70000;
}

.section-title1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin-top: 1.5rem;
}

.section-title2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  color: #fff5f5;
  margin-top: 1.5rem;
}

.div-title {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}


p {
  color: #fff;
}

.pergunta {
  max-width: 75rem;
  align-items: center;
  padding: 1.25rem;
  background-color: #c4c0c0;
  box-shadow: 0 0 0.6rem rgba(153, 149, 149, 0.1);
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  margin: 0 auto;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

label {
  margin-bottom: 0.6rem;
  font-weight: bold;
  color: #fcf3f3;
}

select,
textarea {
  width: 100%;
  max-width: 75rem;
  padding: 0.6rem;
  margin-bottom: 1.25rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.3rem;
  font-size: large;
  font-weight: bold;
}

textarea {
  max-width: 82rem;
  min-height: 12.5rem;
  font-size: large;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.6rem;
  flex-direction: column;

}

button1 {
   width: 76rem;
  padding: 0.6rem;
  font-size: 1.5rem;
  background-color: #9a1915;
  color: white;
  border: none;
  border-radius: 1.8rem;
  cursor: pointer;
  align-self: center;
  text-align: center;
  font-weight: bold;
}

button:hover {
  background-color: #c70000;
}

/* Principais noticias*/
#noticias-linha {
  height: 0.2rem;
  width: 24rem;
  background-color: var(--secondary-color);
  margin-left: 24rem;
}

.tittle-news {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: black;
  margin-left: 24rem;
  margin-top: 3rem;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noticia-container-1 {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 70rem;
  overflow: hidden;
  margin-top: 8rem;
  margin-left: 23rem;
}

.cards-slide {
  overflow: hidden;
  width: 100%;  
}

.cards{
  display: flex;
  transition: transform 0.5s ease;
}

.card{
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0.5, 0.5, 0.5, 0.5);
  overflow: hidden;
  width: 50rem;
  height: 25rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.card img{
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card h3{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: var(--third-color);
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.card p{
  font-size: 0.9em;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Footer */

footer {
  background-color: #a12720; 
  padding: 0; 
  margin: 0; 
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  position: relative; 
}

.social-media-container {
  background-color: #D71920; 
  padding: 0.6rem; 
  border-radius: 0.3rem;
  margin-bottom: -0.3rem; 
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px; 
  background-color: #D71920;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% + 20px);
  margin: 0 -10px;     box-sizing: border-box; 
}

.social-icon {
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}
.addresses {
  display: flex;
  justify-content: space-around;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; 
  padding: 20px 0; 
  background-color: #b61818;
}

.address {
  flex: 1;
  max-width: 300px; 
  text-align: center;
  padding: 0.6rem; 
}

.divider {
  width: 2px;
  height: 60px;
  background-color: white;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

  @media (max-width: 768px) {
      .news-container {
          flex-direction: column; 
          align-items: center;
      }
  
      .news-box {
          max-width: 100%;
      }
    }