@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* Definição de rotas padrão */

.root {
  --bg-color: #FFFF;
  --secondary-color: #E30613;
  --third-color: #a12720;



  /*Tipografia*/
  --font-text: "Montserrat", sans-serif;
  --h1-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

/* Header */

.container_header {
  background-color: #E30613;
  height: 7rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
}

.img_header {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img_header img {
  width: 100%;
  height: 58%;
}

.division_header {
  background-color: white;
  width: 0.2%;
  height: 53%;
  display: flex;
}

.nav_header {
  list-style: none;
  display: flex;
  margin-left: 15rem;
}

.nav_header a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: var(--p-font);
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Estilo para o conteúdo do dropdown */
.dropdown-content {
  width: auto;
  display: none; /* Inicialmente escondido */
  position: absolute; /* Posicionamento absoluto para sobrepor outros elementos */
  background-color: #97221c; /* Cor de fundo */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
  z-index: 1; /* Garantir que fique acima de outros elementos */
}

/* Estilo para os itens do dropdown */
.dropdown-content li a {
  padding: 12px 16px; /* Espaçamento interno */
  text-decoration: none; /* Remover sublinhado */
  display: block; /* Exibir como bloco */
  background-color: #97221c; /* Cor de fundo ao passar o mouse */
}

/* Classe para exibir o dropdown */
.dropdown-content.show {
  display: block; /* Exibir o dropdown */
}

.menuSidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #a12720;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(53, 53, 53, 0.9);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menuSidebar li {
  width: 100%;
}

.menuSidebar a {
  width: 100%;
}

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .dropdown-content {
    left: 0;
  }
}

@media(max-width: 400px) {
  .menuSidebar {
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }
  .dropdown-content {
    position: static;
  }
}

.container_banner {
  background-color: var(--bg-color);
  height: 50rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('../media/img/home-carrossel.png');
  background-size: cover;
  background-position: bottom center;
}

/* Conteúdo do Banner */
.banner_content {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;

  align-items: left;
  margin-left: 7%;
}

.banner_content h1 {
  justify-content: justify;
  font-size: 5.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #FFFF;
  line-height: 1.2;
}

.banner_title h1 {
  text-transform: uppercase;
  font-size: 5rem;
}

.banner_title h1 span {
  color: #E30613;
  text-transform: uppercase;
}


/* Conteúdo do Banner */

.banner_text {
  width: 78%;
  height: 100%;
  display: flex;

}

.banner_text p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 450;
  color: #FFFF;
  margin-top: 3%;
}


/* Imagem do Banner */

.banner_image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: -1rem;
}

.aluna img {
  width: 100%;
  height: 100%;
}

/* Division content  */

.division {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;
}

.banner_division {
  width: 100%;
  height: 100%;
  background-color: #a12720;
  display: flex;
}
  

/* Barra de Navegação */

.nav-content{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1.5%;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 1rem;
  
  /* padding: 1.5%; */
  /* align-items: center; */
}

.nav-content ul li a {
  width: 15rem;
  height: 3rem;
  font-family:"Montserrat", sans-serif ;
  align-items: center;
  justify-content: center;
  /* display: inline-block; */

  display: flex;
  flex-direction: column;
  gap: 10px;
  
  padding: 13% 40%;
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
  border-radius: 30px;
  background-color: #D9D9D9;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Linha vermelha abaixo dos botões ativos */
.nav-division {
  margin-top: 1.5%;
  height: 4px;
  background-color: #b61818;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 1.5%;
}


.nav-content ul li a:hover {
  background-color: #868686;
  color: #000000;
}

  .container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
  }

 .main-new {
    width: 60%; /* Define 60% da largura para a div de texto */
    margin-right: 8%;
    border: 1% solid #ffffff;
    box-shadow: 0 0 5% #ffffff;
  }
  
  .instituicoes {
    width: 100%; 
    margin-right: 7%;
  }
  

  .section-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 5%;
  }

  .instituicoes-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: -1%;
  }


  .section-text{
    margin-bottom: 20%;
    color: black;
    line-height: 1.0;
    font-size: larger;
    max-width: 70%;
  }
  
  .sidebar {
    width: 40%; 
    height: 40%;
    background-color: #FFFF;
    padding: 2rem;
    box-shadow: 0 0.1rem 1rem #9A1915;
    margin-top: 3%;
    border-radius: 1rem;
  }


  .linha {
    width: 30%;
    border-bottom: 0.4rem solid #9A1915;
    margin-bottom: 5%;
  }

  /* Estilo para as imagens do carrossel */
  .carousel-inner img {
    width: 100%; /* Faz as imagens ocuparem toda a largura do carrossel */
    height: 15rem; /* Mantém a proporção da imagem */
    border-radius: 1rem; /* Adiciona bordas arredondadas */
  }

 
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para as legendas */
    padding: 1rem; /* Adiciona um pouco de espaçamento */
    border-radius: 1rem; /* Arredonda os cantos das legendas */
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco para os ícones */
    border-radius: 50%; /* Torna os ícones circulares */
  }

  .carousel-caption h5 {
    font-size: 1.5rem; /* Aumenta o tamanho do título */
    font-weight: bold; /* Torna o título em negrito */
  }

  .carousel-caption p {
    font-size: 1rem; /* Tamanho da fonte dos parágrafos */
  }

  /*Card de perguntas*/
.duvidas {
  max-width: 75rem;
  padding: 1.25rem;
  background-color: #9a1915;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

division-content {
  align-items: center;
  width: auto;
  height: 0.7rem;
  left: 58rem;
  top: 73px;
  background-color: #c70000;
}

.section-title1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-right: 45rem;
  color: rgb(0, 0, 0);
}

.section-title2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  color: #fff5f5;
  margin-top: 1.5rem;
}

.div-title {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

p {
  color: #fff;
}

.pergunta {
  max-width: 75rem;
  align-items: center;
  padding: 1.25rem;
  background-color: #c4c0c0;
  box-shadow: 0 0 0.6rem rgba(153, 149, 149, 0.1);
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

label {
  margin-bottom: 0.6rem;
  font-weight: bold;
  color: #fcf3f3;
}

select,
textarea {
  width: 100%;
  max-width: 75rem;
  padding: 0.6rem;
  margin-bottom: 1.25rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.3rem;
  font-size: large;
  font-weight: bold;
}

textarea {
  max-width: 82rem;
  min-height: 12.5rem;
  font-size: large;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.6rem;
  flex-direction: column;

}

.form-button {
  width: 100%;
  max-width: 75rem;
  padding: 0.6rem;
  font-size: 1.5rem;
  background-color: #9a1915;
  color: white;
  border: none;
  border-radius: 1.8rem;
  cursor: pointer;
  align-self: center;
  text-align: center;
  font-weight: bold;
}

.form-button:hover {
  background-color: #c70000;
}

/* Responsividade botão enviar */
@media (max-width: 1024px) {
  .form-button {
    max-width: 80%;
    font-size: 1.4rem;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .form-button {
    max-width: 90%;
    font-size: 1.2rem;
    padding: 0.4rem;
  }
}

@media (max-width: 480px) {
  .form-button {
    max-width: 95%;
    font-size: 1rem; 
    padding: 0.3rem;
    border-radius: 1rem; 
  }
}

/* Principais noticias*/
.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#movimentos-linha {
  height: 0.2rem;
  width: 18rem;
  background-color: var(--secondary-color);
  margin-left: 24rem;
}

.quadro-noticias {
  margin-right: 24rem;
}

.title-news {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: black;
  margin-left: 24rem;
  margin-top: 3rem;
}

.cards{
  display: flex;
  transition: transform 0.5s ease;
  margin-right: 24rem;
}

.card-slider {
  overflow: hidden;
  width: 100%;  
}

.card img{
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card h3{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color:#000000;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.card p{
  font-size: 0.9em;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}

.slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 82rem;
  overflow: hidden;
  position: relative;
  justify-content: center;
  margin-top: 2.5rem;
  margin-right: 24rem;
}

.card {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  box-shadow: 0rem 0.3rem rgba(0.5, 0.5, 0.5, 0.5);
  overflow: hidden;
  width: 26rem;
  height: 28rem;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 1rem;  
  ;
}

.card-content {
  padding: 1.3rem;
}

.slider-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev {
  left: -10px;
}

.next {
  right: -10px;
}

.button-noticias,
.button-noticias-2,
.button-noticias-3,
.button-noticias-4,
.button-noticias-5 {
  background-color: var(--third-color);
  color:#000000;
  width: 60%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5rem;
}

.button-noticias:hover,
.button-noticias-2:hover, 
.button-noticias-3:hover,
.button-noticias-4:hover,
.button-noticias-5:hover {
  background-color:#c70000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

/*responsividade*/
@media (max-width: 1024px) {
  #movimentos-linha {
    width: 12rem;
  }

  .title-news {
    font-size: 1.2rem;
    margin-left: 0;
  }

  .slider-container {
    max-width: 100%; 
    margin: 2rem auto; 
  }

  .card img {
    height: 150px;
  }

  .card{
    width: 22rem;
    height: 25rem;
  }

  .button-noticias,
  .button-noticias-2,
  .button-noticias-3,
  .button-noticias-4,
  .button-noticias-5 {
    width: 70%;
    font-size: 1rem;
  }

  .card-content{
    padding: 1rem;
  }

  .slider-button{
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  #movimentos-linha {
    width: 10rem;
  }

  .title-news {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .card {
    width: 18rem;
    height: 22rem;
  }

  .card img {
    height: 120px;
  }

  .button-noticias,
  .button-noticias-2,
  .button-noticias-3,
  .button-noticias-4,
  .button-noticias-5 {
    width: 80%;
    font-size: 0.9rem;
  }

  .slider-button{
    font-size: 1.5em;
  }
}

  @media (max-width: 480px) {
    #movimentos-linha {
      width: 8rem;
    }

    .title-news{
      font-size: 0.9rem;
      margin-top: 1rem;
    }

    .card{
      width: 16rem;
      height: 20rem;
    }

    .card img{
      height: 100px;
    }

    .button-noticias 
    .button-noticias-2,
    .button-noticias-3,
    .button-noticias-4,
    .button-noticias-5 {
      width: 90%;
      font-size: 0.8rem;
    }

    .slider-button{
      font-size: 1.2em;
    }
  }


/* Footer */

footer {
  background-color: #a12720; 
  padding: 0; 
  margin: 0; 
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  position: relative; 
}

.social-media-container {
  background-color: #D71920; 
  padding: 0.6rem; 
  border-radius: 0.3rem;
  margin-bottom: -0.3rem; 
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px; 
  background-color: #D71920;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% + 20px);
  margin: 0 -10px;     box-sizing: border-box; 
}

.social-icon {
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}
.addresses {
  display: flex;
  justify-content: space-around;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; 
  padding: 20px 0; 
  background-color: #b61818;
}

.address {
  flex: 1;
  max-width: 300px; 
  text-align: center;
  padding: 0.6rem; 
}

.divider {
  width: 2px;
  height: 60px;
  background-color: white;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

  @media (max-width: 768px) {
      .news-container {
          flex-direction: column; 
          align-items: center;
      }
  
      .news-box {
          max-width: 100%;
      }
    }