
/* Importação de fontes  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

  /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definição de rotas padrão */

.root{
    --bg-color: #FFFF;
    --secondary-color: #E30613;
    --third-color:  #a12720;

    --font-text: "Montserrat", sans-serif;
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

/* Header */

.container_header{
    background-color: #E30613;
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
}

.img_header{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.img_header img{
    width: 75%;
    height: 60%;
}

.division_header{
    background-color: white;
    width: 0.2%;
    height: 53%;
    display: flex;  
}

.nav_header{
    display: flex;
    flex-direction: row;
    gap : 10%;
    width: 60%;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 80%;
    list-style: none;
}

.nav_header a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: var(--p-font);
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    
}