
/* Importação de fontes  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

  /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definição de rotas padrão */

.root{
    --bg-color: #FFFF;
    --secondary-color: #E30613;
    --third-color:  #a12720;

    --font-text: "Montserrat", sans-serif;
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

