/*TESTE*/
#container {
    display: inline-block;
    position: relative;
    display: flex;
    left: 0%;
  }
  
  #container figcaption {
    position: absolute;
    top: 145px;
    left: 0%;
    font-size: 75px;
    color: rgb(255, 255, 255);
  }

  #container section {
    position: absolute;
    top: 145px;
    font-size: 75px;
    left: 0%;
    font-size: 40px;
    color: rgb(245, 36, 36);
  }