@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color: #FFFF;
    --secondary-color: #E30613;


    /*Tipografia*/
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;

    }

header{
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-family:"Montserrat", sans-serif;
    height: 100px;
}

ul{
    display: flex;
    gap: 15rem;
}
.logo-sesi-img{
    width: 100px;
    height: 100px;
}

.logo-img{
    width: 400px;
}

.nav-bar{
    margin-left: 200px;
    flex-direction: row;
    display: flex;
    gap: 8rem;
    font-weight: bold; 
}

li a {
    cursor: pointer;
    transition: .3s ease-in-out;
    color: var(--bg-color);
}

li a:hover {
    color:rgba(233, 233, 233, 0.733);
    transition: .3s ease-in-out;
}
.vertical-line {
    width: 2.2px;
    height: 50px;
    background-color: white;
    margin-left: 15px;
    margin-right: 10px;
}

.bx bx-menu{
    width: 100px;
}

/*Banner Sobre*/

.banner-site{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to Left, rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.634)), url('../media/img/Background-sobre.jpeg');
    background-size:cover;
    background-position: bottom center;
    display: flex; 
    align-items: center;
    justify-content: flex-start; 
}

.banner-site h1{
    flex-direction: column;
    font-size: var(--h1-font);
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: var(--bg-color);
    line-height: 1.2;
    margin-bottom: 15px;  
    margin-left: 80px; 
}

h1 span{
    color:var(--secondary-color)
}

.banner-site p{
    font-family:"Montserrat", sans-serif ;
    font-size: var(--p-font);
    font-weight: 450;
    line-height: 30px;
    color: var(--bg-color);
    margin-bottom: 30px;
    margin-left: 80px;
}

.btn{
    display:inline-block;
    font-family:"Montserrat", sans-serif;
    font-size: var(--p-font);
    padding: 10px 45px;
    background:var(--secondary-color);
    font-size: 15px;
    font-weight: 750;
    line-height: 30px;
    color:#ffff;
    border-radius: 40px;
    transition: all .50s ease;
    cursor: pointer;
    margin-left: 80px;
}

.alunos-sobre{
    position: absolute;
    width: 850px;
    height: 850px;
    left: 930px;
    top: 73px;

}





/*luiza*/
footer {
    margin-top: 400px;
    background-color: var(--secondary-color);
    padding: 20px;
    color: white;
    display: flex;
}
.social-media{
    display: flex;

}
.adresses {
    display: flex;
    text-align: left;
}
.adresses  {
    display: flex;
    text-align: right;
}
